/* App overall layout */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.App::-webkit-scrollbar {
  display: none;
}

/* Navbar styles */
.navbar {
  width: 100vw;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.navbar .logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 20px;
  padding: 0;
  position: relative;
  height: 100%;
}

.navbar ul li {
  height: 100%;
  display: flex;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  padding: 0 20px;
  height: 100%;
  align-items: center;
}

.navbar ul li:hover {
  background-color: #2E2E2E;
}

.navbar ul li a:hover {
  color: #D2D2D2;
}

/* Flashcard styles */
.flashcard {
  width: 200px;
  height: 150px;
  background-color: #fff;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20vh;
  margin-bottom: 20px;
}

/* Buttons styling */
.buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.buttons button:hover:not(:disabled) {
  background-color: #555;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.2; 
}
